.center{
    margin-top:20vh !important;
    padding: 1rem;
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(HP2-01.png);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: cover;
}