/* documentation stuff */
.bd-sidebar {
    position:-webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    margin-left: -.25rem;
    overflow-y: auto;
    padding-top: 2.5rem;
}

.bd-layout {
    display:grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 6fr;
    gap: 1.5rem;
}

.bd-sidebar {
    grid-area: sidebar;
}

.bd-main {
    grid-area: main;
    display:grid;
    grid-template-areas: "intro" "content";
    grid-template-rows: auto 1fr;
    gap: inherit;
}

.bd-intro {
    grid-area: intro;
}

.bd-content {
    grid-area: content;
    min-width: 1px;
}

.offcanvas {
    position: static;
    display: block;
    height: 200px;
    visibility: visible;
    transform: translate(0)
}

.bd-title {
    font-size:3rem
}

.bd-links-nav {
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem
}

.bd-links-nav .bd-links-group {
    -moz-column-break-inside: avoid;
    break-inside: avoid
}

.bd-links-nav .bd-links-span-all {
    -moz-column-span: all;
    column-span: all
}

.bd-links-link {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.125rem;
    color: var(--bs-body-color);
    text-decoration: none
}

.bd-gutter {
    --bs-gutter-x: 3rem
}

.container-documentation {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-documentation {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container-documentation {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container-documentation {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container-documentation {
        max-width:1140px
    }
}

@media (min-width: 1400px) {
    .container-documentation {
        max-width:80%;
        margin-right: 10%;
        margin-left: 10%;
    }
}