.container-itemvisualisation {
    padding-top: 2vh;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-itemvisualisation {
        max-width:540px
    }

    #table{
        margin-bottom: 0%;
    }

    #img1-div{
        height: 490px !important;
    }
}

@media (min-width: 768px) {
    .container-itemvisualisation {
        max-width:720px
    }

    #table{
        margin-bottom: 75%;
    }

    #img1-div{
        height: 100% !important;
    }
}

@media (min-width: 992px) {
    .container-itemvisualisation {
        max-width:960px
    }

    #table{
        margin-bottom: 110%;
    }

    #img1-div{
        height: 100% !important;
    }
}

@media (min-width: 1200px) {
    .container-itemvisualisation {
        max-width:1140px
    }

    #table{
        margin-bottom: 125%;
    }

    #img1-div{
        height: 100% !important;
    }
}

@media (min-width: 1400px) {
    .container-itemvisualisation {
        max-width:1320px
    }

    .limitHeight{
        max-height: 40vh !important;
        width: auto;
    }

    .btn-sm{
        padding-top: 1rem;
    }

    #table{
        margin-bottom: 135%;
    }

    #img1-div{
        height: 100% !important;
    }
}

body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(img/background.png);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: cover;
}

#item-info-header{
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: #333;
    padding-top: 1.5rem;
}

#buttonPrevious{
    --bs-btn-padding-x: .5rem;
}

#buttonNext{
    --bs-btn-padding-x: .5rem;
}

.navbar{
    background-color: rgba(222, 226, 230, 1);
}

.nav-link{
    color: rgba(132, 32, 41, 1) !important;
}

.nav-link.active{
    text-shadow: 1px 2px 2px rgba(230, 133, 181, 1) !important;
}

#itemCardHeader{
    margin-right: 0%;
    margin-left: 0%;
}

#img1-div{
    height: 490px;
}

#infoTable tr td{
    text-align: right;
    vertical-align: middle;
}

#copyrightBox{
    display: inline-block;
    position: relative; 
    top: 0px; 
    right: 0px; 
    background-color: red; 
    color: white; 
    padding: 5px;
    padding-right: 10px;
}